{
  "presets": ["env", "react"],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      },
      "import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
